.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--color-gray-50);
}

.label {
  display: block;

  font-size: 22px;
  letter-spacing: 0.5px;
}

.extra {
  display: block;
  font-size: 21px;
  letter-spacing: 0.2px;
}

.input {
  padding: 18px 16px;
  font-size: 22px;

  border: 1px solid var(--color-gray-150);
  border-radius: 8px;
  
  color: inherit;
}
